<a href="/post/{{this.id}}">
  <div class="post-card">
    <h2>{{this.title}}</h2>
    <p class="post-username">Posted by {{user.username}} on {{formatDate this.createdAt}}</p>
    <h4>{{this.content}}</h4>
  </div>
</a>