<section class="single-post">
<div class="post-card">
  <h2>{{post.title}}</h2>
  <p class="username">Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
  <h4>{{post.content}}</h4>
</div>
  <h2 class="dark-text">Comments</h2>
{{#each comments}}
  {{> comment}}
{{/each}}
  
  <form>
    <input type="hidden" name="post_id" value="{{post.id}}">
    <textarea name="content" id="content" placeholder="Enter your comment" class="comment-input"></textarea>
  </form>
  <button type="submit" id="submit-btn" class="btn btn-border" style="margin: 50px;">Submit</button>
  
</section>
<script>const postId = {{post.id}};</script>
<script src="/js/submit-comment.js"></script>